@font-face {
  font-family: "Breakersw00-regular";
  src: local("Breakersw00-regular"),
   url("./fonts/BREAKERSW00-REGULAR.TTF") format("truetype");
  }
*{
  font-family: "Breakersw00-regular";
}
.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #214B9B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  width: 400px;
  padding: 10px 40px;
}
.App-header img{
  max-width: 80%;
  height: auto;
}
.App-content {
  background-color: #ffffff;
  color: #fff;
  min-height: 100vh;
  width: calc(100vw - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.iconoAnimado{
  width: 500px;
}
.bhdLno{
  max-width: 600px !important;
  max-height: 600px !important;
}
.productName{
  color: #214B9B;
  font-size: 42px;
}
.ganasteText{
  color: #214B9B;
  font-size: 36px;
  margin: 0px;
}
.App-link {
  color: #214B9B;
}

.boton-ferrenovo{
  border: 4px solid #214B9B;
  color: #214B9B;
  font-size: 28px;
  background-color: transparent;
  padding: 10px 20px;
}
.boton-ferrenovo:disabled,
.boton-ferrenovo[disabled]{
  opacity:0.5;
}
.space20{
  margin-top: 20px;
}

table.inventario {
  border: 1px solid #214B9B;
  background-color: #07368d;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.inventario td, table.inventario th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.inventario tbody td {
  font-size: 26px;
}
table.inventario tr:nth-child(even) {
  background: #214B9B;
}
table.inventario thead {
  background: #214B9B;
  background: -moz-linear-gradient(top, #214B9B 0%, #214B9B 66%, #214B9B 100%);
  background: -webkit-linear-gradient(top, #214B9B 0%, #214B9B 66%, #214B9B 100%);
  background: linear-gradient(to bottom, #214B9B 0%, #214B9B 66%, #214B9B 100%);
  border-bottom: 2px solid #444444;
}
table.inventario thead th {
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.inventario thead th:first-child {
  border-left: none;
}
table.inventario input{
  font-size: 26px;
}
table.inventario tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.inventario tfoot td {
  font-size: 14px;
}
table.inventario tfoot .links {
  text-align: right;
}
table.inventario tfoot .links a{
  display: inline-block;
  background: #214B9B;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:1080px) {
  .App{
    flex-direction: column;
  }
  .App-header {
    min-height: 400px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: calc(30px + 1vmin);
  }
  .App-content{
    width: 100%;
    min-height: 400px;
    padding: 30px 30px 0;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
  }
  .bhdLno{
    max-width: 900px !important;
    max-height: 900px !important;
  }
  .productName{
    font-size: 2.8em;
  }
  .ganasteText{
    font-size: 3em;
  }
  .boton-ferrenovo{
    font-size: 2.5em;
  }
  .iconoAnimado{
    height: 500px;
  }
}